USE [master]
GO
/****** Nesnesi: Database [InvoiceAppDb] Betik Tarihi: 24.05.2026 02:33:57 ******/
CREATE DATABASE [InvoiceAppDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InvoiceAppDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\InvoiceAppDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InvoiceAppDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\InvoiceAppDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InvoiceAppDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InvoiceAppDb]
GO
/****** Nesnesi: Table [dbo].[__EFMigrationsHistory] Betik Tarihi: 24.05.2026 02:33:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[InvoiceItems] Betik Tarihi: 24.05.2026 02:33:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceId] [int] NOT NULL,
	[Service] [nvarchar](max) NULL,
	[UnitPrice] [decimal](16, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_InvoiceItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Invoices] Betik Tarihi: 24.05.2026 02:33:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Number] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
	[IssueDate] [date] NULL,
	[DueDate] [date] NULL,
	[Service] [nvarchar](max) NULL,
	[UnitPrice] [decimal](16, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[ClientName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
 CONSTRAINT [PK_Invoices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260523171043_FirstMigration', N'10.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260523225652_AddInvoiceItems', N'10.0.8')
GO
SET IDENTITY_INSERT [dbo].[InvoiceItems] ON 

INSERT [dbo].[InvoiceItems] ([Id], [InvoiceId], [Service], [UnitPrice], [Quantity]) VALUES (1, 1, N'Web Design', CAST(1500.00 AS Decimal(16, 2)), 1)
INSERT [dbo].[InvoiceItems] ([Id], [InvoiceId], [Service], [UnitPrice], [Quantity]) VALUES (2, 2, N'SEO Services', CAST(800.00 AS Decimal(16, 2)), 1)
INSERT [dbo].[InvoiceItems] ([Id], [InvoiceId], [Service], [UnitPrice], [Quantity]) VALUES (3, 3, N'Content Writing', CAST(500.00 AS Decimal(16, 2)), 1)
GO
SET IDENTITY_INSERT [dbo].[InvoiceItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoices] ON 

INSERT [dbo].[Invoices] ([Id], [Number], [Status], [IssueDate], [DueDate], [Service], [UnitPrice], [Quantity], [ClientName], [Email], [Phone], [Address]) VALUES (1, N'INV-001', N'Paid', CAST(N'2024-01-15' AS Date), CAST(N'2024-01-30' AS Date), N'Web Design', CAST(1500.00 AS Decimal(16, 2)), 1, N'John Doe', N'john.doe@example.com', N'123-456-7890', N'123 Main St, Anytown, USA')
INSERT [dbo].[Invoices] ([Id], [Number], [Status], [IssueDate], [DueDate], [Service], [UnitPrice], [Quantity], [ClientName], [Email], [Phone], [Address]) VALUES (2, N'INV-002', N'Pending', CAST(N'2024-02-01' AS Date), CAST(N'2024-02-15' AS Date), N'SEO Services', CAST(800.00 AS Decimal(16, 2)), 1, N'Jane Smith', N'jane.smith@example.com', N'987-654-3210', N'456 Elm St, Othertown, USA')
INSERT [dbo].[Invoices] ([Id], [Number], [Status], [IssueDate], [DueDate], [Service], [UnitPrice], [Quantity], [ClientName], [Email], [Phone], [Address]) VALUES (3, N'INV-003', N'Paid', CAST(N'2024-03-01' AS Date), CAST(N'2024-03-15' AS Date), N'Content Writing', CAST(500.00 AS Decimal(16, 2)), 1, N'Alice Johnson', N'alice.johnson@example.com', N'555-123-4567', N'789 Oak St, Sometown, USA')
GO
SET IDENTITY_INSERT [dbo].[Invoices] OFF
GO
/****** Nesnesi: Index [IX_InvoiceItems_InvoiceId] Betik Tarihi: 24.05.2026 02:33:58 ******/
CREATE NONCLUSTERED INDEX [IX_InvoiceItems_InvoiceId] ON [dbo].[InvoiceItems]
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InvoiceItems]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceItems_Invoices_InvoiceId] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoices] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceItems] CHECK CONSTRAINT [FK_InvoiceItems_Invoices_InvoiceId]
GO
USE [master]
GO
